<form [formGroup]="registerForm" (ngSubmit)="navigateToLogin()">
        <h2>Sign up</h2>
        <div>
            <input type="text" placeholder="First Name" class="my-1" formControlName="first_name">
            <div *ngIf="registerForm.get('first_name')?.errors && registerForm.get('first_name')?.touched" class="input-errors">
                <p *ngIf="registerForm.get('first_name')?.getError('required')" class="bg-error icon-round text-center py-1">First Name is required</p>
                <p *ngIf="registerForm.get('first_name')?.getError('minlength')" class="bg-error icon-round text-center py-1">Min length is 3</p>
                <p *ngIf="registerForm.get('first_name')?.getError('maxlength')" class="bg-error icon-round text-center py-1">Max length is 10</p>
            </div>
        </div>
        <div>
            <input type="text" placeholder="Last Name" class="my-1" formControlName="last_name">
            <div *ngIf="registerForm.get('last_name')?.errors && registerForm.get('last_name')?.touched" class="input-errors">
                <p *ngIf="registerForm.get('last_name')?.getError('required')" class="bg-error icon-round text-center py-1">Last Name is required</p>
                <p *ngIf="registerForm.get('last_name')?.getError('minlength')" class="bg-error icon-round text-center py-1">Min length is 3</p>
                <p *ngIf="registerForm.get('last_name')?.getError('maxlength')" class="bg-error icon-round text-center py-1">Max length is 10</p>
            </div>
        </div>
        <div>
            <input type="email" placeholder="Email" class="my-1" formControlName="email">
            <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="input-errors">
                <p *ngIf="registerForm.get('email')?.getError('required')" class="bg-error icon-round text-center py-1">Email is required</p>
                <p *ngIf="registerForm.get('email')?.getError('email')" class="bg-error icon-round text-center py-1">Email is not valid</p>
            </div>
        </div>
        <div>
            <input type="password" placeholder="Password" class="my-1" formControlName="password">
            <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="input-errors">
                <p *ngIf="registerForm.get('password')?.getError('required')" class="bg-error icon-round text-center py-1">Password is required</p>
            </div>
        </div>


            <button type="submit" class="w-100 pointer bg-transparent border-0 text-white  py-2 my-2 pointer" [disabled]="registerForm.invalid">
                Sign up
            </button>
</form>